*{
    box-sizing:border-box;
}

body {
    font-family: sans-serif;
    color: #333;
    margin:0 auto;
    padding:100px;
    background-image: url("../img/bg.png");
}

header{
    background-color:white ;
    color:rgb(255, 20, 110);
    text-align: center;
    padding-top: 75px;
    font-size: 18px;
}

header h1{
    font-size: 36px;
}

header h3{
    font-size: 24px;
}

.container img{
    width:30%;
    max-width: 30%;
    height: auto;
    }

.heading h3{
    padding-top:0;
    text-align: center;

}

.cards{
    display:flex;
    flex-wrap:wrap;
    justify-content: center; 
    background-color: rgb(245, 235, 220);
    text-align: center;

}

.card img{
    object-fit: cover;
    width: 200px;
    padding:20px 20px 0 20px;

}

.card p{
    font-size:12px;
    text-align: center;
}

.btn {
    text-decoration: none;
    background-color:rgb(255, 20, 110);
    color:#ffffff;
    margin: 10px auto 20px;
    width: 300px;
    font-size:20px;
    border-radius:6px;
    display:block;
    text-align: center;
    line-height:50px
}
.btn:hover{
    opacity:0.7;
}

.section{
    margin:0 auto;
    text-align: center;
    background-color: white;

}
.section-title{
    text-align:center;
    color:rgb(255, 20, 110);
}

.text-form{
    width:500px;
    height:100px;
}

.error-message {
    color: #fa0000;
    font-size:bold;
    background-color: white;
}

.output-wrapper{
    background: white;
}

